server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/insurance_db?useSSL=false&serverTimezone=UTC
    username: root        # TODO: change to your MySQL username
    password: root        # TODO: change to your MySQL password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET"
    expiration-ms: 3600000
